# Part 3 - Data Prep

https://www.udemy.com/course/feature-engineering-for-machine-learning

* Types and characteristics of data
* Missing data imputation
* Categorical encoding
* Variable transformation
* Discretization
* Outliers
* Datetime
* Scaling
* Feature creation

## Load Data

In [ ]:
import pandas as pd

df = pd.read_csv('created_raw_data.csv')
print(df.shape)
print(df.info())
df.head()

(1010, 41)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   binary                 1010 non-null   object
 1   given_name             810 non-null    object
 2   surname                907 non-null    object
 3   date_of_birth          908 non-null    object
 4   phone_number           960 non-null    object
 5   email                  909 non-null    object
 6   address                621 non-null    object
 7   city                   445 non-null    object
 8   state                  446 non-null    object
 9   zipcode                845 non-null    float64
 10  duplicate_2            1010 non-null   float64
 11  correlated w target 2  707 non-null    float64
 12  duplicate_1            1010 non-null   float64
 13  uniform corr 1         808 non-null    float64
 14  random choice 2        710 non-null    object
 15  standard scaling       908 non-null    float64
 16  correlated w target 1  507 non-null    float64
 17  target                 1010 non-null   float64
 18  constant_1             1010 non-null   object
 19  random choice 4        807 non-null    object
 20  min max scaling        808 non-null    float64
 21  multicollinearity 4    909 non-null    float64
 22  informative_2          1010 non-null   float64
 23  multicollinearity 2    910 non-null    float64
 24  outliers 2             910 non-null    float64
 25  uniform corr 2         705 non-null    float64
 26  pd qcut3               809 non-null    object
 27  multicollinearity 3    709 non-null    float64
 28  pd qcut2               506 non-null    object
 29  outliers 1             907 non-null    float64
 30  random choice 7        959 non-null    object
 31  constant_2             1010 non-null   object
 32  random label num 12    910 non-null    object
 33  multicollinearity 1    709 non-null    float64
 34  semi_constant_1        1010 non-null   object
 35  pd qcut1               709 non-null    object
 36  informative_1          1010 non-null   float64
 37  random label num 3     959 non-null    object
 38  corr_feature_class     709 non-null    float64
 39  semi_constant_2        1010 non-null   object
 40  class                  1010 non-null   int64
dtypes: float64(19), int64(1), object(21)
memory usage: 323.6+ KB
None

,binary,given_name,surname,date_of_birth,phone_number,email,address,city,state,zipcode,...,constant_2,random label num 12,multicollinearity 1,semi_constant_1,pd qcut1,informative_1,random label num 3,corr_feature_class,semi_constant_2,class
0,binary_2,Thomas,NaN,1925-12-26,291.912.1249x52286,scottbond@example.net,58707 James Meadow Apt. 346,Tiffanyside,NaN,51206.0,...,constant_value,label num hi 10,-0.531847,q_const_0,Low,-0.999102,label num lo 2,0.101048,q_const_0,1
1,binary_1,Melissa,NaN,1972-08-16,(513)806-5749x01300,jonathon55@example.org,NaN,NaN,WV,34775.0,...,constant_value,label num hi 5,-0.345348,q_const_0,High,1.246686,label num lo 3,9.055727,q_const_0,1
2,binary_2,Mark,Scott,1933-02-22,(871)397-5872,shafferamanda@example.org,NaN,NaN,NaN,NaN,...,constant_value,label num hi 4,-1.976924,q_const_0,High,0.962777,label num lo 2,6.433520,q_const_0,1
3,binary_2,Christopher,Patterson,2020-05-31,437-681-7960,heather48@example.com,NaN,NaN,NaN,NaN,...,constant_value,label num hi 4,-0.027502,q_const_0,High,-2.957441,label num lo 2,11.233637,q_const_0,1
4,binary_2,Kent,Thomas,NaN,(294)825-9751x12385,moyerchad@example.com,2558 Clinton Square Suite 741,Ashleyberg,IN,61466.0,...,constant_value,label num hi 1,0.042751,q_const_0,High,1.141165,label num lo 1,8.969995,q_const_0,1

In [ ]:
import preppy.utils as utils
from preppy.version import __version__ as _version_


print(_version_)

utils.report.write_report(df, thresh=.5)

PrepPy Version: 0.1.0
REPORT FOR DATA PREP

#################################################
Columns with Constant Values
#################################################
['constant_1', 'constant_2']

#################################################
Columns with Quasi-Constant Values
#################################################
['binary', 'class', 'constant_1', 'constant_2']

#################################################
Duplicate Rows
#################################################
20

#################################################
Duplicate Columns
#################################################
['informative_2', 'informative_1', 'constant_2']

#################################################
Variables with Noticeably Higher Scales
#################################################
Features with Noticeably Higher Scales (Based on Standard Deviation):
zipcode             29130.432162
standard scaling     9758.774338
Name: std, dtype: float64

Features with Noticeably Higher Scales (Based on Range):
zipcode             99386.000000
standard scaling    63670.274622
dtype: float64
None

#################################################
Variables with Missing Values
#################################################
given_name               200
surname                  103
date_of_birth            102
phone_number              50
email                    101
address                  389
city                     565
state                    564
zipcode                  165
correlated w target 2    303
uniform corr 1           202
random choice 2          300
standard scaling         102
correlated w target 1    503
random choice 4          203
min max scaling          202
multicollinearity 4      101
multicollinearity 2      100
outliers 2               100
uniform corr 2           305
pd qcut3                 201
multicollinearity 3      301
pd qcut2                 504
outliers 1               103
random choice 7           51
random label num 12      100
multicollinearity 1      301
pd qcut1                 301
random label num 3        51
corr_feature_class       301
dtype: int64

#################################################
Variables that Need Categorical Encoding
#################################################
Index(['binary', 'given_name', 'surname', 'date_of_birth', 'phone_number',
       'email', 'address', 'city', 'state', 'random choice 2', 'constant_1',
       'random choice 4', 'pd qcut3', 'pd qcut2', 'random choice 7',
       'constant_2', 'random label num 12', 'semi_constant_1', 'pd qcut1',
       'random label num 3', 'semi_constant_2'],
      dtype='object')

#################################################
Variables with Outliers
#################################################
Column: duplicate_2
Outliers: [-4.543441462057407, -4.444491000732856, -4.154350476173738]
---
Column: correlated w target 2
Outliers: [-8.065816938325339, -7.896764967819957, 8.510744150623884]
---
Column: duplicate_1
Outliers: [3.994644010615292]
---
Column: standard scaling
Outliers: [80759.63020073657, 23997.902534420897, 21044.62547450728, 78179.42918459536, 84546.7856107364, 78807.07461298222, 24069.00298560818, 83449.21144879168, 81782.59945135535, 23624.297655507988, 78699.70645545251, 20876.5109891105]
---
Column: correlated w target 1
Outliers: [8.732841994030325, 8.678244587731239, -8.255875583480236, 8.79034534751741]
---
Column: target
Outliers: [9.29929607315589]
---
Column: min max scaling
Outliers: [54.94113000073181, 11.64271633311703, 859.1718786467502]
---
Column: multicollinearity 4
Outliers: [-3.038451534865172, -3.062656305223547, 3.1440691857128606, -2.9532481705327025, -2.812847749277647]
---
Column: informative_2
Outliers: [-4.543441462057407, -4.444491000732856, -4.154350476173738]
---
Column: multicollinearity 2
Outliers: [2.8629263419697883]
---
Column: multicollinearity 3
Outliers: [-3.4079759917220733, -3.223312074894816, -3.198010155434211]
---
Column: outliers 1
Outliers: [4.232879624421151, -3.95106972623178, -4.307337587176873, -3.796273318536034, 5.344738930944866, -3.1860405877669584, 5.3551928177719486, 3.14362959881275, -3.208961043544309, 3.6204232573782407, 3.0636577715462527, 3.701518509979437, -3.510017092430511, -5.160040986552854, -3.140911381681496, -3.0820664505641444, -3.5825262182190416, -4.990459958166799, -4.299780026103189, -3.122928370899209, 3.337380691390274, 3.8081670598518262, -3.883977100251439, -4.026858003218272, 3.614497480608186, -5.392306865059671, -3.1024516970116425, -4.252561954357829, 3.2548593912625416, -4.853215419157289, 4.331290028851551, 3.452853293407154, 3.833434115681215, 3.558416796143192, 3.581009145611989, 4.02802098014454, -3.620263697792773, 3.429863183698932, 3.836314505913286, 3.920340696389244, 4.438182788418256, 4.330501505586311, 3.145845185647172, 3.812607987299192, 4.625524214110938, -4.971123210494227, 4.867803741108251, 4.232879624421151]
---
Column: multicollinearity 1
Outliers: [3.789394825944984, 2.917805380097417, 2.8726955116006843, -2.908053697424448, 2.759474773790743, -3.05238094010039, 3.14903466878762]
---
Column: informative_1
Outliers: [3.994644010615292]
---
Column: corr_feature_class
Outliers: [11.233637406848231, -5.263039352378915, -5.289751146169679, -6.926478388362266, -5.676280411488613, -8.402739724245453, -5.900933941548324, -7.603654611713576, -8.281134202655842, 14.485544603337814, -5.576196495162511, 10.210951671727656, 12.467105366880714, 13.382904607351705, 10.80860066002426, 9.643931947460109, -6.580487071062377, -5.967900374316538, -5.18960975323923, -5.542520236799878, 10.755944259114646, -6.828283540796951, 9.873665494416072, 11.33407718869368, 9.569662542968269, 9.688079418418198, -5.197217611602841, 11.233637406848231]
---

#################################################
END OF REPORT
#################################################

In [ ]:
import preppy.utils as preppy

consts = preppy.functions.identify_consts(df)
quasi_consts = preppy.functions.identify_quasi_consts(df)
duplicates = preppy.functions.check_col_duplicates(df)
print(duplicates)
print(consts)
print(quasi_consts)

['informative_2', 'informative_1', 'constant_2']
['constant_1', 'constant_2']
['constant_1', 'constant_2']

In [ ]:
# numeric_df = df.apply(pd.to_numeric, errors='coerce')
all_deletes = list(set(consts + quasi_consts + duplicates))
for col in all_deletes:
  print(col, df[col].dtype)
  if df[col].dtype in ['float64', 'int64']:
    df_numerical.remove(col)
  elif df[col].dtype in ['object']:
    df_object.remove(col)
    df_categorical_features.remove(col)
  else:
    df_discreet.remove(col)

constant_2 object
informative_1 float64
constant_1 object
informative_2 float64

## PrepPy Pipeline

In [ ]:
import numpy as np
import pandas as pd
from sklearn.pipeline import Pipeline
import preppy.utils as preppy

pipe = [
    ('constants', preppy.classes.RemoveConstants()),
    ('quasiconsts', preppy.classes.RemoveQuasiConstants(thresh=0.8)),
    ('duplicates', preppy.classes.DropDuplicates()),
    ('missing', preppy.classes.HandleMissingValues()),
    # ('encoding', HandleCatEncodeing())
]

pipe_model = Pipeline(pipe)
data = pipe_model.fit_transform(df)
cols = [col for col in df.columns if col not in consts + quasi_consts + duplicates]
nu_df = pd.DataFrame(data, columns=cols)
nu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 37 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   binary                 1000 non-null   object
 1   given_name             1000 non-null   object
 2   surname                1000 non-null   object
 3   date_of_birth          1000 non-null   object
 4   phone_number           1000 non-null   object
 5   email                  1000 non-null   object
 6   address                1000 non-null   object
 7   city                   1000 non-null   object
 8   state                  1000 non-null   object
 9   zipcode                1000 non-null   object
 10  duplicate_2            1000 non-null   object
 11  correlated w target 2  1000 non-null   object
 12  duplicate_1            1000 non-null   object
 13  uniform corr 1         1000 non-null   object
 14  random choice 2        1000 non-null   object
 15  standard scaling       1000 non-null   object
 16  correlated w target 1  1000 non-null   object
 17  target                 1000 non-null   object
 18  random choice 4        1000 non-null   object
 19  min max scaling        1000 non-null   object
 20  multicollinearity 4    1000 non-null   object
 21  multicollinearity 2    1000 non-null   object
 22  outliers 2             1000 non-null   object
 23  uniform corr 2         1000 non-null   object
 24  pd qcut3               1000 non-null   object
 25  multicollinearity 3    1000 non-null   object
 26  pd qcut2               1000 non-null   object
 27  outliers 1             1000 non-null   object
 28  random choice 7        1000 non-null   object
 29  random label num 12    1000 non-null   object
 30  multicollinearity 1    1000 non-null   object
 31  semi_constant_1        1000 non-null   object
 32  pd qcut1               1000 non-null   object
 33  random label num 3     1000 non-null   object
 34  corr_feature_class     1000 non-null   object
 35  semi_constant_2        1000 non-null   object
 36  class                  1000 non-null   object
dtypes: object(37)
memory usage: 289.2+ KB

/content/preppy/utils/functions.py:61: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dfx[feat] = df[feat].fillna(df[feat].mode()[0])

In [ ]:
import pickle

# Load the pickled variable from the file
with open('var_types.pkl', 'rb') as f:
    var_types = pickle.load(f)

print(var_types)

{'df_numerical': ['zipcode', 'duplicate_2', 'correlated w target 2', 'duplicate_1', 'uniform corr 1', 'standard scaling', 'correlated w target 1', 'target', 'min max scaling', 'multicollinearity 4', 'informative_2', 'multicollinearity 2', 'outliers 2', 'uniform corr 2', 'multicollinearity 3', 'outliers 1', 'multicollinearity 1', 'informative_1', 'corr_feature_class', 'class'], 'df_object': ['binary', 'given_name', 'surname', 'date_of_birth', 'phone_number', 'email', 'address', 'city', 'state', 'random choice 2', 'constant_1', 'random choice 4', 'pd qcut3', 'pd qcut2', 'random choice 7', 'constant_2', 'random label num 12', 'semi_constant_1', 'pd qcut1', 'random label num 3', 'semi_constant_2'], 'df_discreet': [], 'df_categorical_features': ['binary', 'given_name', 'surname', 'date_of_birth', 'phone_number', 'email', 'address', 'city', 'state', 'random choice 2', 'constant_1', 'random choice 4', 'pd qcut3', 'pd qcut2', 'random choice 7', 'constant_2', 'random label num 12', 'semi_constant_1', 'pd qcut1', 'random label num 3', 'semi_constant_2']}

In [ ]:
df_numerical = var_types['df_numerical']
df_object = var_types['df_object']
df_discreet = var_types['df_discreet']
df_categorical_features = var_types['df_categorical_features']

In [ ]:
# code along
df_numerical = [col for col in nu_df.columns if col in var_types['df_numerical']]
nu_df[df_numerical] = nu_df[df_numerical].astype(float)
nu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 37 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   binary                 1000 non-null   object
 1   given_name             1000 non-null   object
 2   surname                1000 non-null   object
 3   date_of_birth          1000 non-null   object
 4   phone_number           1000 non-null   object
 5   email                  1000 non-null   object
 6   address                1000 non-null   object
 7   city                   1000 non-null   object
 8   state                  1000 non-null   object
 9   zipcode                1000 non-null   float64
 10  duplicate_2            1000 non-null   float64
 11  correlated w target 2  1000 non-null   float64
 12  duplicate_1            1000 non-null   float64
 13  uniform corr 1         1000 non-null   float64
 14  random choice 2        1000 non-null   object
 15  standard scaling       1000 non-null   float64
 16  correlated w target 1  1000 non-null   float64
 17  target                 1000 non-null   float64
 18  random choice 4        1000 non-null   object
 19  min max scaling        1000 non-null   float64
 20  multicollinearity 4    1000 non-null   float64
 21  multicollinearity 2    1000 non-null   float64
 22  outliers 2             1000 non-null   float64
 23  uniform corr 2         1000 non-null   float64
 24  pd qcut3               1000 non-null   object
 25  multicollinearity 3    1000 non-null   float64
 26  pd qcut2               1000 non-null   object
 27  outliers 1             1000 non-null   float64
 28  random choice 7        1000 non-null   object
 29  random label num 12    1000 non-null   object
 30  multicollinearity 1    1000 non-null   float64
 31  semi_constant_1        1000 non-null   object
 32  pd qcut1               1000 non-null   object
 33  random label num 3     1000 non-null   object
 34  corr_feature_class     1000 non-null   float64
 35  semi_constant_2        1000 non-null   object
 36  class                  1000 non-null   float64
dtypes: float64(18), object(19)
memory usage: 289.2+ KB

## Feature Engineering

### Feature Combination

In [ ]:
# create a new variable by combining two variables
df['scaling_combined'] = df['standard scaling'] + df['min max scaling']
df.drop(['standard scaling', 'min max scaling'], axis=1, inplace=True)

### Categorical Encoding

In [ ]:
# code along
import preppy.utils as utils

# Impute missing values before applying do_OHE
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].fillna(df[col].mode()[0])

df = utils.functions.do_OHE(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 45 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   binary                             1010 non-null   int64
 1   given_name                         1010 non-null   float64
 2   surname                            1010 non-null   float64
 3   date_of_birth                      1010 non-null   float64
 4   phone_number                       1010 non-null   float64
 5   email                              1010 non-null   float64
 6   address                            1010 non-null   float64
 7   city                               1010 non-null   float64
 8   state                              1010 non-null   float64
 9   zipcode                            845 non-null    float64
 10  duplicate_2                        1010 non-null   float64
 11  correlated w target 2              707 non-null    float64
 12  duplicate_1                        1010 non-null   float64
 13  uniform corr 1                     808 non-null    float64
 14  random choice 2                    1010 non-null   int64
 15  correlated w target 1              507 non-null    float64
 16  target                             1010 non-null   float64
 17  multicollinearity 4                909 non-null    float64
 18  informative_2                      1010 non-null   float64
 19  multicollinearity 2                910 non-null    float64
 20  outliers 2                         910 non-null    float64
 21  uniform corr 2                     705 non-null    float64
 22  pd qcut3                           1010 non-null   float64
 23  multicollinearity 3                709 non-null    float64
 24  outliers 1                         907 non-null    float64
 25  random choice 7                    1010 non-null   float64
 26  random label num 12                1010 non-null   float64
 27  multicollinearity 1                709 non-null    float64
 28  pd qcut1                           1010 non-null   int64
 29  informative_1                      1010 non-null   float64
 30  corr_feature_class                 709 non-null    float64
 31  class                              1010 non-null   int64
 32  scaling_combined                   725 non-null    float64
 33  random choice 4_North              1010 non-null   float64
 34  random choice 4_South              1010 non-null   float64
 35  random choice 4_West               1010 non-null   float64
 36  pd qcut2_Q2                        1010 non-null   float64
 37  pd qcut2_Q3                        1010 non-null   float64
 38  pd qcut2_Q4                        1010 non-null   float64
 39  semi_constant_1_q_const_0_1        1010 non-null   float64
 40  semi_constant_1_q_const_0_2        1010 non-null   float64
 41  random label num 3_label num lo 2  1010 non-null   float64
 42  random label num 3_label num lo 3  1010 non-null   float64
 43  semi_constant_2_q_const_0_1        1010 non-null   float64
 44  semi_constant_2_q_const_0_2        1010 non-null   float64
dtypes: float64(41), int64(4)
memory usage: 355.2 KB

In [ ]:
df.to_csv('prepared_data.csv', index=False)